#login .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 600px;
  height: 450px;
  border: 1px solid #9C9C9C;
  background-color: #282726;
  margin-bottom: 50px
}

.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}